@import "../omarchy/current/theme/waybar.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @background;
  margin: 3px 3px;
}

#workspaces {
  border-radius: 0rem 1rem 1rem 0rem;
  margin: 3px 0px;
  background-color: @background;
  margin-left: 0rem;
}

#workspaces button {
  color: @foreground;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @foreground;
  border-radius: 1rem;
}

#custom-music,
#network,
#battery,
#bluetooth,
#cpu,
#clock,
#pulseaudio,
#custom-hypridle,
#custom-updates,
#custom-packages,
#custom-screenrecording-indicator,
#custom-omarchy,
#language,
#custom-update,
#custom-expand-icon {
  background-color: @background;
  padding: 0.5rem 0.75rem;
  margin: 3px 0;
}

#battery {
  color: @foreground;
  border-radius: 0rem;
  margin-right: 0rem;
}

#pulseaudio {
  color: @foreground;
  border-radius: 0rem;
}
#custom-screenrecording-indicator,

#custom-packages {
  background-color: @background;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#custom-filemanager {
  min-width: 12px;
  margin: 0 8px;
  font-size: 16px;
}

#custom-hypridle {
  border-radius: 0rem 1rem 1rem 0rem;
  margin-right: 1rem;
  padding-right: 1.15rem;
}

#tray {
  color: @foreground;
  background-color: @background;
  padding: 0.25rem 0.5rem;
  margin: 3px 0;
  border-radius: 0 1rem 1rem 0;
  margin-right: 1rem;
}

.tray-group-item {
  color: @foreground;
  background-color: @background;
  padding: 0.25rem 0.5rem;
  margin: 3px 0;
  border-radius: 0;
}

#custom-brightness {
  color: @foreground;
  padding: 0.25rem 0.5rem;
  margin: 3px 0;
}

#custom-filemanager {
  color: @foreground;
  padding: 0.25rem 0.5rem;
  margin: 3px 0;
  margin-right: 0;
}

#custom-updates,
#custom-packages {
  border-radius: 1rem;
  color: @foreground;
}

#custom-omarchy {
  border-radius: 1rem 0rem 0rem 1rem;
  margin-left: 1rem;
  color: @foreground;
}

#custom-hypridle.active {
  color: @foreground;
}

#custom-hypridle.notactive {
  color: rgb(224, 137, 137);
}

#language,
#bluetooth,
#network,
#cpu {
  color: @foreground;
  border-radius: 0rem;
}

#bluetooth {
  font-size: 13px;
  padding: 0.5rem 0.4rem;
}

#custom-music {
  color: @foreground;
  border-radius: 0rem;
}

#custom-update {
  background-color: transparent;
  color: @foreground; 
  font-size: 10px;
  border-radius: 0;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  min-width: 12px;
}

#custom-update:last-child {
  border-radius: 0;
  margin: 0;
}

#custom-expand-icon {
  border-radius: 1rem 0rem 0rem 1rem;
  color: @foreground;
  margin-left: 1rem;
}

#clock {
  color: @foreground;
  border-radius: 0;
  margin: 0;
  background-color: transparent;
  padding-right: 0.25rem;
}

#clock:last-child {
  border-radius: 0;
  margin: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  font-size: 10px;
  border-radius: 0;
  margin: 0;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#group-center, #center {
  background-color: @background;
  border-radius: 1rem;
  margin: 3px 0;
}

#group-center #clock, #center #clock {
  margin-left: 0;
}

#group-center #custom-screenrecording-indicator, #center #custom-screenrecording-indicator {
  margin-right: 0;
}

#group-center #custom-update:last-child, #center #custom-update:last-child {
  margin-right: 0;
}

tooltip {
  background-color: alpha(@background, 0.9);
  padding: 20px;
  margin: 0px;
  border-radius: 1rem;
}

tooltip label {
  color: @foreground;
}
